<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow bg-dark">
    <div class="container">
        <ul class="navbar-nav">
            <li id="MenuIcon" class="nav-item" onclick="openNav()" style="cursor: pointer;">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0)" onclick="openNav()" class="nav-link text-white">Меню</a>
            </li>
        </ul>

        @* <partial name="_LoginPartial.cshtml"> *@
    </div>
</nav>
